{% extends 'main.html' %}

{% block title %}Projects{% endblock %}

{% block content %}

    <p>Hello you are on the {{ page }} page </p>

    <hr>

    <h1>Projects</h1>

    <ul>
        
        {% for project in projects %}
            <li><a href="{% url 'project' project.id %}">{{ project.title }} - 
                </a><a href="{% url 'update-project' project.id %}">Edit</a> - <a href="{% url 'delete-project' project.id %}">Delete</a></li>
        {% endfor %}
            
    </ul>
    
{% endblock content %}
    
